body{
	background-color: dimgray;
}

.cover{
	position: absolute;
	bottom: 260px;
	left: 262px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
	z-index: 1;
}

#clockContainer{
	position: relative;
	margin: auto;
	height: 40vw;
	width: 40vw;
	background: url('clock.png') no-repeat;
	background-size: 100%;
}

#hour, #minute, #second{
	position: absolute;
	border-radius: 10px;
	transform-origin: bottom;
}

#hour{
	background-color: red;
	width: 6px;
	height: 16%;
	top: 34.35%;
	left: 49.5%;
}

#minute{
	background-color: blue;
	width: 4px;
	height: 21%;
	top: 29.4%;
	left: 49.5%;
}

#second{
	background-color: white;
	width: 3px;
	height: 25%;
	top: 25.35%;
	left: 49.5%;
}
